*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.sayt {
    width: 1200px;
    height: 600px;
    margin: auto;
    border: 5px solid black;
}

.navbar {
    height: 100px;
    background-color: red;
}
